main {
    width: 100%;
}

// home section
.home {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 85vh;

    .line {
        width: 1%;
        height: 35vh;
        background: #F8D7A4;
    }

    .title {
        width: 25%;

        h1 {
            font-family: 'Lora';
            font-size: 64px;
            color: $light-black;
        }
    }

    .car {
        z-index: 10;
    }

    .shape {
        position: absolute;
        z-index: 1;
        right: 0;
    }
}

// about section
.about {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 80vh;

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 30%;
        height: 50vh;

        h1 {
            font-size: 48px;
            color: $logo-color;
        }

        p {
            color: $light-black;
        }
    }
}

// services section
.services {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: #ffff;

    h1 {
        font-size: 48px;
        color: $logo-color;
    }

    &__cards {
        width: 80%;
        display: flex;
        justify-content: space-between;

        &--card {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            width: 28%;
            height: 50vh;
        }
    }

}

// fleet section
.fleet {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100vh;

    h1 {
        font-size: 56px;
        color: $logo-color;
    }

    &__list {
        display: flex;
        justify-content: space-around;
        align-items: center;

        &--item {
            width: 24%;
            height: 60vh;
            background: #FFFFFF;
            box-shadow: 4px 10px 30px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            text-align: center;

            h2 {
                color: $logo-color;
            }

            .text {
                width: 90%;
                text-align: justify;
                color: rgba(35, 34, 34, 0.96);
            }

            .icons {
                display: flex;
                width: 90%;
                justify-content: space-around;

                &__icon {
                    width: 35%;
                    display: flex;
                    justify-content: space-around;
                }
            }
        }
    }

    .left:hover,
    .right:hover {
        cursor: pointer;
        stroke: black;
    }

    .pagination {
        display: flex;
        justify-content: center;
        width: 5%;

        &__circles {
            display: flex;
            justify-content: space-around;
            width: 100%;

            &--circle {
                width: 20%;
                height: 2vh;
                border-radius: 50%;
                background: #E5E5E5;
            }
        }
    }
}

// statistics section
.statistics {
    width: 100%;
    height: 40vh;
    background: rgba(35, 34, 34, 0.96);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #FFFFFF;
    text-align: center;

    h1 {
        font-size: 72px;
    }
}

// comments section
.comments {
    width: 100%;
    height: 100vh;
    background: #F8D7A4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    h1 {
        font-size: 48px;
        color: $logo-color;
    }

    &__list {
        width: 80%;

        &--base {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height: 60vh;
            background: #FFFFFF;
            box-shadow: 5px 15px 33px rgba(0, 0, 0, 0.1);

            &--avatar {
                width: 18%;
                height: 30vh;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                text-align: center;

                h1 {
                    color: #272727;
                }

                h2 {
                    color: #979797;
                    font-style: italic;
                }
            }

            &--text {
                width: 50%;
                height: 35vh;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;

                h2 {
                    font-style: italic;
                    font-weight: 300;
                    color: #272727;
                }

                &--asses {
                    width: 30%;
                    display: flex;
                    justify-content: space-around;
                }
            }
        }
    }

    &__pages {
        display: flex;
        justify-content: space-around;
        width: 5%;

        &--page {
            width: 20%;
            height: 2vh;
            border-radius: 50%;
            background: #FFFFFF;
        }
    }
}

// call div
.call {
    width: 100%;
    height: 40vh;
    background-size: cover;
}

// contact section
.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 120vh;
    width: 100%;

    h1 {
        font-size: 56px;
        color: $logo-color;
    }

    form {
        width: 60%;
        height: 90vh;
        background: #E8EAEC;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        input,
        textarea {
            width: 70%;
            height: 8vh;
            background: #FFFFFF;
            border: 0.5px solid #D2D2D2;
            font-size: 16px;
        }

        textarea {
            height: 25vh;
        }

        button {
            background: $logo-color;
            width: 25%;
            height: 8vh;
            font-size: 18px;
            text-align: center;
            color: #FFFFFF;
            border: none;
        }

        button:hover {
            cursor: pointer;
            color: $logo-color;
            background-color: #FFFFFF;
            border: 1px solid $logo-color;
        }
    }
}